<div class="upload_fields">
  <div class="form-group">
    <div class="col-sm-9">
      <%= f.file_field :upload, class: 'form-control' %>
      <%= remove_child_link "Remove File", f %>
    </div>
  </div>
</div>