<div class="container-fluid">
  <div class="well">
    <div class="row">
      <h1>To-Do List</h1>
        <ul>
          <div class="col-md-4">
            <li><div style='color: red'>Profiles: Database view</div></li>
            <li><div style='color: green'>Profiles: Create view (Done!)</div></li>
            <li><div style='color: green'>Profiles: Edit view (Done!)</div></li>
            <li><div style='color: green'>Stores: Database view (Done!)</div></li>
            <li><div style='color: red'>Stores: Create view</div></li>
            <li><div style='color: red'>Stores: Edit view</div></li>
            <li><div style='color: red'>Stores: Map view</div></li>
            <li><div style='color: green'>Users: Database view (Done!)</div></li>
            <li><div style='color: red'>Callsheets: Implement Database Structure</div></li>
            <li><div style='color: red'>Product Lines: Database view (create schema inputs)</div></li>
            <li><div style='color: red'>Product Lines: Upload view</div></li>
            <li><div style='color: red'>Literature Reorders: Database view</div></li>
            <li><div style='color: red'>Literature Reorders: Create view</div></li>
            <li><div style='color: red'>Literature Reorders: Edit view</div></li>
            <li><div style='color: red'>Customers: Database view</div></li>
          </div>
          <div class="col-md-4">
            <li><div style='color: green'>Items: Database view (Done!)</div></li>
            <li><div style='color: red'>Items: Create view</div></li>
            <li><div style='color: red'>Items: Edit view</div></li>
            <li><div style='color: red'>Items: Adjust stock view (stockmovements)</div></li>
            <li><div style='color: red'>Store Orders: Database view</div></li>
            <li><div style='color: red'>Store Orders: Create view</div></li>
            <li><div style='color: red'>Store Orders: Edit view</div></li>
            <li><div style='color: red'>Warranty Orders: Database view</div></li>
            <li><div style='color: red'>Warranty Orders: Create view</div></li>
            <li><div style='color: red'>Warranty Orders: Edit view</div></li>
            <li><div style='color: red'>Shipping Log: Database view (create schema inputs)</div></li>
            <li><div style='color: red'>Order Stream: Database view</div></li>
            <li><div style='color: red'>Order Stream: Upload view</div></li>
            <li><div style='color: red'>Order Stream: Shipping Log</div></li>
            <li><div style='color: red'>Task Manager: Database view</div></li>
          </div>
          <div class="col-md-4">
            <li><div style='color: red'>Task Manager: Create view</div></li>
            <li><div style='color: red'>Task Manager: Edit view</div></li>
            <li><div style='color: red'>Shipping Cost Calculator</div></li>
            <li><div style='color: red'>Dynamic Dashboard based on user</div></li>
            <li><div style='color: red'>Make sure all tables are in thead and tbody configurations</div></li>
            <li><div style='color: red'>Add Datepicker to call sheets</div></li>
          </div>
       </ul>
    </div>
  </div>
</div>
