<div class="container-fluid">
  <div class="well">
      <h1><%= link_to "Please create your profile.", new_user_profile_path(user_id: current_user.id) if user_signed_in? %></h1>
     <h1>To-Do List</h1>
       <ul>
         <li>Profiles: Database view</li>
         <li>Profiles: Create view</li>
         <li>Profiles: Edit view</li>
         <li>Stores: Database view</li>
         <li>Stores: Create view</li>
         <li>Stores: Edit view</li>
         <li>Users: Database view</li>
         <li>Callsheets: Finish CSS</li>
         <li>Product Lines: Database view (create schema inputs)</li>
         <li>Product Lines: Upload view</li>
         <li>Callsheets: Work on Database</li>
         <li>Literature Reorders: Database view
         <li>Literature Reorders: Create view
         <li>Literature Reorders: Edit view
         <li>Customers: Database view</li>
         <li>Items: Database view</li>
         <li>Items: Create view</li>
         <li>Items: Edit view</li>
         <li>Items: Adjust stock view (stockmovements)</li>
         <li>Store Orders: Database view</li>
         <li>Store Orders: Create view</li>
         <li>Store Orders: Edit view</li>
         <li>Warranty Orders: Database view</li>
         <li>Warranty Orders: Create view</li>
         <li>Warranty Orders: Edit view</li>
         <li>Shipping Log: Database view (create schema inputs)</li>
         <li>Order Stream: Database view</li>
         <li>Order Stream: Upload view</li>
         <li>Order Stream: Shipping Log</li>
         <li>Task Manager: Database view</li>
         <li>Task Manager: Create view</li>
         <li>Task Manager: Edit view</li>
         <li>Dynamic Dashboard based on user</li>
       </ul>
  </div>
</div>
