<div class="col-md-6">
  <div class="well">
    <div>
      <a href="https://apps.commercehub.com/account/login?service=https://dsm.commercehub.com/dsm/shiro-cas">Click here to login first</a>
      <iframe src="https://dsm.commercehub.com/dsm/gotoOrderRealmForm.do?action=web_quickship&status=open&substatus=no-activity&merchant=thehomedepot" width=100% height="1000"></iframe>
    </div>
  </div>
</div>