<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm show-well">
        <h1 class="text-center">New Store Order</h1>
<%= render 'form', storeorder: @storeorder %>
<%= link_to 'Back', storeorders_path %>
      </div>
    </div>
  </div>
</div>