<%= form_for(stockmovement) do |f| %>
  <% if stockmovement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stockmovement.errors.count, "error") %> prohibited this stockmovement from being saved:</h2>

      <ul>
      <% stockmovement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
