<form class="form-horizontal">
  <div class="container-fluid"><br>
    <table class="table table-striped table-bordered table-hover">
      <thead class="selection-header">
        <tr>
          <th colspan="2">Literature Reorder?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 10%">
            <label class="switch">
              <input type="checkbox" name="allstoneLit" id="allstoneLit">
              <div class="slider round"></div>
            </label>
          </td>
          <td>All Stone Brochures</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
<div class="form-group">
  <label class="col-md-2 control-label" for="allstoneNotes"><br>All Stone Notes</label>
  <div class="col-md-10">                     
    <br><textarea rows="6" class="form-control" id="allstoneNotes" name="allstoneNotes"></textarea>
  </div>
</div>