<div class="form-group">
  <label class="col-md-3 control-label" for="millwork_manager"><br>Department Manager: </label>
  <div class="col-md-9">                     
    <br><input id="millwork_manager" name="millwork_manager" placeholder="Millwork Manager and/or Building Materials Manager" type="text" class="form-control input-md">
  </div>
</div>
<form class="form-horizontal">
  <div class="container-fluid">
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover">
        <thead bgcolor="#969696" style="color: white">
          <tr>
            <th></th>
            <th>Stair Displays condition</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="switch-check" name="ceSdc">
                <input type="radio", name="ceSdc", id="ceSdc-1", value="1">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Undamaged</td>
          </tr>
          <tr>
            <td>
              <label class="switch-check" name="ceSdc">
                <input type="radio", name="ceSdc", id="ceSdc-2", value="2">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Damaged, see notes below</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover">
        <thead bgcolor="#969696" style="color: white">
          <tr>
            <th colspan="2">Bin Boxes condition</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="switch-check" name="ceBins">
                <input type="radio", name="ceBins", id="ceBins-1", value="1">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Undamaged</td>
          </tr>
          <tr>
            <td>
              <label class="switch-check", name="ceBins">
                <input type="radio", name="ceBins", id="ceBins-2", value="2">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Damaged, see notes below</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover">
        <thead bgcolor="#969696" style="color: white">
          <tr>
            <th colspan="2">TV Display still installed?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 10%">
              <label class="switch-check" name="ceTv">
                <input type="radio", name="ceTv", id="ceTv-1", value="1">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>
              <label class="switch-check", name="ceTv">
                <input type="radio", name="ceTv", id="ceTv-2", value="2">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover">
        <thead bgcolor="#969696" style="color: white">
          <tr>
            <th colspan="2">Closet Door Display condition</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="switch-check" name="ceCloset">
                <input type="radio", name="ceCloset", id="ceCloset-1", value="1">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Undamaged</td>
          </tr>
          <tr>
            <td>
              <label class="switch-check", name="ceCloset">
                <input type="radio", name="ceCloset", id="ceCloset-2", value="2">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Damaged, see notes below</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover">
        <thead bgcolor="#969696" style="color: white">
          <tr>
            <th colspan="2">Barn Door Display condition</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="switch-check" name="ceBarndoor">
                <input type="radio", name="ceBarndoor", id="ceBarndoor-1", value="1">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Undamaged</td>
          </tr>
          <tr>
            <td>
              <label class="switch-check", name="ceBarndoor">
                <input type="radio", name="ceBarndoor", id="ceBarndoor-2", value="2">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Damaged, see notes below</td>
          </tr>
          <tr>
            <td>
              <label class="switch-check", name="ceBarndoor">
                <input type="radio", name="ceBarndoor", id="ceBarndoor-3", value="3">
                <div class="slider-check round"></div>
              </label>
            </td>
            <td>Not installed in this store</td>
          </tr>
        </tbody>
      </table>
    </div>
        <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover">
        <thead bgcolor="#969696" style="color: white">
          <tr>
            <th colspan="2">Literature Reorder?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="switch", name="ceLit">
                <input type="checkbox", name="ceLit-1", id="ceLit-1", value="1">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Stair Parts Tearpads</td>
          </tr>
          <tr>
            <td>
              <label class="switch", name="ceLit">
                <input type="checkbox", name="ceLit-2", id="ceLit-2", value="1">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Closet Door Brochures</td>
          </tr>
          <tr>
            <td>
              <label class="switch", name="ceLit">
                <input type="checkbox", name="ceLit-3", id="ceLit-3", value="1">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Column Tearpads</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <table class="table table-striped table-bordered table-hover">
        <thead bgcolor="#969696" style="color: white">
          <tr>
            <th colspan="2">General Checklist</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 10%">
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Straighten product on shelves, clean up debris</td>
          </tr>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </td>
            <td>All Bintags in place</td>
          </tr>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Defect damaged products (w/ Dept Manager approval)</td>
          </tr>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Discuss stock &amp; display issues with on-duty Dept Manager</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
<div class="form-group">
  <label class="col-md-3 control-label" for="ceNotes"><br>Colonial Elegance Notes</label>
  <div class="col-md-9">                     
    <br><textarea rows="6" class="form-control" id="ceNotes" name="ceNotes", placeholder="Put any notes about damaged displays, missing POP signage or ID cards here."></textarea>
  </div>
</div>
