<form class="form-horizontal">
  <div class="container-fluid">
    <table class="table table-striped table-bordered table-hover">
      <thead bgcolor="#969696" style="color: white">
        <tr>
          <th>In Stock?</th>
          <th>SKU</th>
          <th>Product</th>
          <th>MFG #</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 10%">
            <label class="switch">
              <input type="checkbox" name="genieSku4251691" id="genieSku4251691">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-1691</td>
          <td>PowerMax 1500</td>
          <td>#4062-TKC</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4251689" id="genieSku4251689">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-1689</td>
          <td>Chain Drive 525</td>
          <td>#2036-TV</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4252547" id="genieSku4252547">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-2547</td>
          <td>Screw Drive 8ft Extension Kit</td>
          <td>#EKSC</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4252548" id="genieSku4252548">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-2548</td>
          <td>Chain Lift 8ft Extension Kit</td>
          <td>#EKCR</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4254040" id="genieSku4254040">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-4040</td>
          <td>Master Remote Control</td>
          <td>#37335R</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4251720" id="genieSku4251720">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-1720</td>
          <td>Replacement Safe-T Beam System</td>
          <td>#GSTB-R</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4252388" id="genieSku4252388">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-2388</td>
          <td>Screwdrive Lubricant</td>
          <td>#GLU-3</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4252445" id="genieSku4252445">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-2445</td>
          <td>3 Button Intellicode Remote</td>
          <td>#G3T-R</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="genieSku4252391" id="genieSku4252391">
              <div class="slider round"></div>
            </label>
          </td>
          <td>425-2391</td>
          <td>Keyless Entry Intellicode Remote</td>
          <td>#GK-R37332R</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-bordered table-hover">
      <thead bgcolor="#969696" style="color: white">
        <tr>
          <th class></th>
          <th class>General Checklist</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 10%">
            <label class="switch">
              <input type="checkbox" name="genieSku4251685" id="genieSku4251685">
              <div class="slider round"></div>
            </label>
          </td>
          <td>Genie 700 Head still in stock? (425-1685)</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>Display POP signs in good condition</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>Price labels on POP signs</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>All Bintags in place</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>Discuss stock &amp; display issues with on-duty Dept Manager</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<div class="form-group">
  <label class="col-md-2 control-label" for="genie_notes"><br>Genie Notes</label>
  <div class="col-md-10">                     
    <br><textarea rows="6" class="form-control" id="genieNotes" name="genieNotes" placeholder="Put any notes about damaged displays or POP that needs replacing here."></textarea>
  </div>
</div>