<div class="form-group">
  <label class="col-md-3 control-label" for="plumbing_manager"><br>Department Manager: </label>
  <div class="col-md-9">                     
    <br><input id="plumbing_manager" name="plumbing_manager" placeholder="Plumbing Manager" type="text" class="form-control input-md">
  </div>
</div>
<form class="form-horizontal">
  <div class="container-fluid">
    <table class="table table-striped table-bordered table-hover">
      <thead class="selection-header">
        <tr>
          <th id='hwDblclick' class="hwDblclickUnchecked">In Stock?</th>
          <th>SKU</th>
          <th>Product</th>
          <th>MFG #</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 10%">
            <label class="switch">
              <input type="checkbox" name="hwSku3351566" id="hwSku3351566">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1566</td>
          <td>Small/Med T-Stat Guard</td>
          <td>#CG511A</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351579" id="hwSku3351579">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1579</td>
          <td>Large T-Stat Guard</td>
          <td>#CG512A</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360310" id="hwSku6360310">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0310</td>
          <td>WIFI 7 Day Programmable</td>
          <td>#RTH6580WF</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360320" id="hwSku6360320">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0320</td>
          <td>WIFI 7 Day Programmable Touchscreen</td>
          <td>#RTH8580WF</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360325" id="hwSku6360325">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0325</td>
          <td>WIFI Smart Thermostat</td>
          <td>#RTH9580WF</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360328" id="hwSku6360328">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0328</td>
          <td>Lyric Smart Thermostat</td>
          <td>#RCH9300WF</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351813" id="hwSku3351813">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1813</td>
          <td>5-2 Programmable Deluxe</td>
          <td>#RTH6350D</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351830" id="hwSku3351830">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1830</td>
          <td>5-1-1 Programmable Deluxe</td>
          <td>#RTH6450D</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351832" id="hwSku3351832">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1832</td>
          <td>7 Day Programmable</td>
          <td>#YRTH7500D</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351833" id="hwSku3351833">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1833</td>
          <td>7 Day Programmable Touchscreen</td>
          <td>#RTH7600D</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360205" id="hwSku6360205">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0205</td>
          <td>5-2 Programmable</td>
          <td>#RTH2300B</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360210" id="hwSku6360210">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0210</td>
          <td>5-1-1 Programmable</td>
          <td>#RTH2410B</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360220" id="hwSku6360220">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0220</td>
          <td>7 Day Programmable</td>
          <td>#RTH2510B</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360150" id="hwSku6360150">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0150</td>
          <td>Basic Digital Manual</td>
          <td>#RTH111B</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6360200" id="hwSku6360200">
              <div class="slider round"></div>
            </label>
          </td>
          <td>636-0200</td>
          <td>Basic Digital Programmable</td>
          <td>#RTH221B</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351837" id="hwSku3351837">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1837</td>
          <td>Winter Watchman</td>
          <td>#CW200A1032</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351779" id="hwSku3351779">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1779</td>
          <td>Humidistat</td>
          <td>#H8908B1002</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351885" id="hwSku3351885">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1885</td>
          <td>Low-Temp Garage Thermostat</td>
          <td>#CT50K1028E</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351785" id="hwSku3351785">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1785</td>
          <td>Mercury Free Round Heat Only</td>
          <td>#CT87K1003</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351798" id="hwSku3351798">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1798</td>
          <td>Mercury Free Round Heat/Cool</td>
          <td>#CT87N1006</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351879" id="hwSku3351879">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1879</td>
          <td>Economy Heat Only</td>
          <td>#CT30A</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3351895" id="hwSku3351895">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-1895</td>
          <td>Economy Heat/Cool</td>
          <td>#CT31A</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3352001" id="hwSku3352001">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-2001</td>
          <td>18" Thermocouple</td>
          <td>#CQ100A1021</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3352014" id="hwSku3352014">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-2014</td>
          <td>24" Thermocouple</td>
          <td>#CQ100A1013</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3352027" id="hwSku3352027">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-2027</td>
          <td>30" Thermocouple</td>
          <td>#CQ100A1039</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku3352030" id="hwSku3352030">
              <div class="slider round"></div>
            </label>
          </td>
          <td>335-2030</td>
          <td>36" Thermocouple</td>
          <td>#CQ100A1005</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6399948" id="hwSku6399948">
              <div class="slider round"></div>
            </label>
          </td>
          <td>639-9948</td>
          <td>UV Air Treatment</td>
          <td>#RUVLAMP1</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6399949" id="hwSku6399949">
              <div class="slider round"></div>
            </label>
          </td>
          <td>639-9949</td>
          <td>UV Air Bulb</td>
          <td>#RUVBULB1</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6399978" id="hwSku6399978">
              <div class="slider round"></div>
            </label>
          </td>
          <td>639-9978</td>
          <td>3000 sq.ft. Whole House Humidifier</td>
          <td>#HE240A</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" name="hwSku6399979" id="hwSku6399979">
              <div class="slider round"></div>
            </label>
          </td>
          <td>639-9979</td>
          <td>4000 sq.ft. Whole House Humidifier</td>
          <td>#HE280</td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-6">
      <table class="table table-striped table-bordered table-hover">
        <thead class="selection-header">
          <tr>
            <th colspan="2">General Checklist</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </td>
            <td>All Bintags in place</td>
          </tr>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Front-face all items</td>
          </tr>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Discuss stock &amp; display issues with on-duty Dept Manager</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped table-bordered table-hover">
        <thead class="selection-header">
          <tr>
            <th colspan="2">Literature Reorder?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 10%">
              <label class="switch">
                <input type="checkbox" name="hwLit1" id="hwLit1">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Thermostat Brochures</td>
          </tr>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox" name="hwLit2" id="hwLit2">
                <div class="slider round"></div>
              </label>
            </td>
            <td>Indoor Air Quality Brochures</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

<div class="form-group">
  <label class="col-md-2 control-label" for="honeywell_notes"><br>Honeywell Notes</label>
  <div class="col-md-10">                     
    <br><textarea rows="6" class="form-control" id="hwNotes" name="hwNotes"></textarea>
  </div>
</div>