<script>
$(document).ready(function() {
    $('#summit-table').DataTable();
} );
</script>
<form class="form-horizontal">
  <div class="container-fluid">
    <table id="summit-table" class="table table-striped table-bordered table-hover">
      <thead bgcolor="#969696" style="color: white">
        <tr>
          <th>In Stock?</th>
          <th>SKU</th>
          <th>Product</th>
          <th>MFG #</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 10%">
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1315</td>
          <td>Super Iron Out 30oz.</td>
          <td>IO30N</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1317</td>
          <td>Super Iron Out 5lb.</td>
          <td>IO65N</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1323</td>
          <td>Super Iron Out 10lb.</td>
          <td>IO10N</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1320</td>
          <td>Lime Out</td>
          <td>A06N</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1321</td>
          <td>Dishwasher Magic</td>
          <td>DM06N</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1330</td>
          <td>Plink</td>
          <td>PLM12T</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1333</td>
          <td>Glisten</td>
          <td>DM0616N</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1305</td>
          <td>2 in 1 Toilet/Septic Cleaner</td>
          <td>C-SB0612N</td>
          <td>Upfront by cleaners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1322</td>
          <td>Washer Magic</td>
          <td>WM06N</td>
          <td>Upfront by laundry detergent</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1302</td>
          <td>White Brite</td>
          <td>WB30N</td>
          <td>Upfront by laundry detergent</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-3100</td>
          <td>Woolite</td>
          <td>11016</td>
          <td>Upfront by laundry detergent</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1335</td>
          <td>Drain Out Kitchen</td>
          <td>DOB06N</td>
          <td>Rough Plumbing Area</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-1325</td>
          <td>Potassium Perm</td>
          <td>PF65N</td>
          <td>By the Water Softeners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-3918</td>
          <td>Softener Cleaner</td>
          <td>TO06N</td>
          <td>By the Water Softeners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-3917</td>
          <td>Liquid Softener</td>
          <td>RK06N</td>
          <td>By the Water Softeners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-3900</td>
          <td>Home Test Kits</td>
          <td>TK06N</td>
          <td>By the Water Softeners</td>
        </tr>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </td>
          <td>647-3136</td>
          <td>Disposer Care</td>
          <td>DP06N</td>
          <td>By the Garbage Disposers</td>
        </tr>
      </tbody>
    </table>
    <table id="summit-table" class="table table-striped table-bordered table-hover">
      <thead bgcolor="#969696" style="color: white">
        <tr>
          <th colspan="2">General Checklist</th>
        </tr>
      </thead>
      <tr>
        <td style="width: 10%">
          <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
          </label>
        </td>
        <td>Checked for product on Endcaps</td>
      </tr>
      <tr>
        <td>
          <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
          </label>
        </td>
        <td>All Bintags in place</td>
      </tr>
      <tr>
        <td>
          <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
          </label>
        </td>
        <td>Front-face all items</td>
      </tr>
      <tr>
        <td>
          <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
          </label>
        </td>
        <td>Discuss stock issues with on-duty Dept Manager</td>
      </tr>
    </table>
  </div>
</form>

<div class="form-group">
  <label class="col-md-2 control-label" for="summit_notes"><br>Summit Notes</label>
  <div class="col-md-10">                     
    <br><textarea rows="6" class="form-control" id="summit_notes" name="summit_notes"></textarea>
  </div>
</div>