<div class="form-group">
  <label class="col-md-2 control-label" for="tuscany_notes"><br>Tuscany Notes</label>
  <div class="col-md-10">                     
    <br><textarea rows="6" class="form-control" id="tuscany_notes" placeholder="Please check to make sure the bath fan displays are in working order and that no POP is missing or damaged." name="tuscany_notes"></textarea>
  </div>
</div>