<div class="form-group">
  <label class="col-md-2 control-label" for="tuscany_notes"><br>Tuscany Notes</label>
  <div class="col-md-10">                     
    <br><textarea rows="6" class="form-control" name="tuscanyNotes" id="tuscanyNotes" placeholder="Please check to make sure the bath fan displays are in working order and that no POP is missing or damaged."></textarea>
  </div>
</div>