<div class="container-fluid">
  <div class="col-md-12">
    <div class="well dashboard-well">
      <div class="row">
        <legend class="text-center">Callsheet Summary for <%= @callsheet.store_name %> (<%= @callsheet.store_abbrv %> #<%= @callsheet.store_number %>) on <%= @callsheet.visit_date %></legend>
        <div class="col-md-3">
          <div class="well well-sm">
            <legend class="text-center">Colonial Elegance</legend>
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="well well-sm">
            <legend class="text-center">Genie</legend>
            
            <h3>Out of Stocks</h3>
              <ul>
                <li>SKU 1</li>
                <li>SKU 2</li>
              </ul>
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="well">
            <legend class="text-center">Honeywell</legend>
      </div>
        </div>
        <div class="col-md-3">
          <div class="well">
            <legend class="text-center">Summit Brands</legend>
          </div>
        </div>
        
        
        
      </div>
    </div>
  </div>
</div>