

//------------------------------------------------
//    MAP.HTML.ERB                               |
//------------------------------------------------

#map img { 
  max-width: none;
  padding: 0;
  margin-top: -20px;
}
#map label { 
  width: auto; display:inline; 
}
#map-negativespace {
  margin-top: -20px;
}

nav {
  margin-bottom: 0;
}